@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Raleway, sans-serif;
}

.top-bar {
  background: #040f3d;
  color: darkgray;
  padding: 1rem;
}

.btn {
  background: #4bffa5;
  color: #2f4f4f;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.7rem 2rem;
  font-family: Raleway, sans-serif;
}

.btn:hover {
  opacity: 0.9;
}

.page-info {
  margin-left: 1rem;
}

.error {
  background: orangered;
  color: #fff;
  padding: 1rem;
}
